<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Comunidade</title>
    <link rel="stylesheet" href="comunidade.css">
    <link rel="stylesheet" href="cabecalho.css">
</head>

<body>
    <header class="cabecalho">
        <div class="logo">
            <a href="#inicio">
                <img src="Static/Logo 2.png" alt="Logo" />
            </a>
        </div>

        <nav class="menu">
            <ul>
                <li>
                    <a href="#inicio">Início</a>
                </li>
                <li>
                    <a href="#comunidade">Comunidades</a>
                </li>
                <li>
                    <a href="#perfil">Perfil</a>
                </li>
            </ul>
        </nav>
        <aside class="infos">
            <a href="#perfil">
                <img src="Static/Perfil.jpg" class="foto_perfil" alt="Perfil">
            </a>
            <a href="./cadastro.html" class="botao red">Registrar</a>
        </aside>
    </header>

    <div class="page">

        <section class="info_perfil">
            <div class="bloco"></div>
            <div class="foto_perfil_comunidade">
                <img src="Static/Perfil.jpg" alt="perfil comunidade">
            </div>
            <h2>Nome da comunidade</h2>
            <i><p>Nome do criador  | 00/00/0000</p></i>
            <br><br><br><br> <!-- Icones -->
            <p>Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit. Repudiandae cupiditate 
            eos voluptate vel pariatur assumenda ipsa, 
            placeat perspiciatis deserunt sequi voluptates 
            sit tempore dolorum exercitationem dolor ratione totam. Natus, nobis.</p>
        </section>

        <div class="feed">
            <section class="box">
                <div class="post ">
                    <p>Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Corporis dolorum, at
                        in tempore accusantium nihil fugiat
                        dignissimos nemo hic possimus sed vel quam.
                        Consequuntur fugiat et ratione? Earum,
                        ab perferendis.</p>
                </div>
                <div class="post-bar">
                    Up Down
                </div>
            </section>

            <div class="feed">
                <section class="box">
                    <div class="post ">
                        <p>Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit. Corporis dolorum, at
                            in tempore accusantium nihil fugiat
                            dignissimos nemo hic possimus sed vel quam.
                            Consequuntur fugiat et ratione? Earum,
                            ab perferendis.</p>
                    </div>
                    <div class="post-bar"> </div>
                </section>

                <div class="feed">
                    <section class="box">
                        <div class="post ">
                            <p>Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Corporis dolorum, at
                                in tempore accusantium nihil fugiat
                                dignissimos nemo hic possimus sed vel quam.
                                Consequuntur fugiat et ratione? Earum,
                                ab perferendis.</p>
                        </div>
                        <div class="post-bar"></div>
                    </section>
                </div>
            </div>

</body>

</html>
